* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fad204;
}

.page-content {
  margin: 0 auto;
  width: 85%;
}

.sentence-builder-item {
  padding-top: 20px;
}
